@font-face{
    font-family:norwester;
    src:"fonts/norwester.otf";
}
@font-face{
    font-family:consolas;
    src:"fonts/consola.ttf";
}
.norwester
{
    font-family:norwester;
}
.consolas
{
    font-family:consolas;
}
.black_text{
    color:black;
}
.white_text{
    color:white;
}
.black{
    background-color:black;
}
.white{
    background-color:white;
}

.leftNav
{
    background-color:black;
    padding-right:0.5%;
    padding-left:0.5%;
    color:white;
    width:100%;
    max-width:320px;
    height : 100%;
    z-index : 9999;
    position:absolute;
    top:0px;
    left:0px;
    border-top-right-radius : 20px;
    border-bottom-right-radius:20px;
    box-shadow: 5px 10px 8px #888888;
}

.leftNavOpts :hover, .leftNavOpts2:hover{
    cursor: pointer;
}
.leftNavHeading{
    margin-top:4%;
    margin-bottom:4%;
    width:100%;
    text-align:center;
}
.leftNavOpts2
{
    background-color:transparent;
    width:100%;
    margin-bottom:0px;
}
.leftNavOpts{
    background-color:transparent;
    width:100%;
    margin-top:5%;
    margin-left:auto;
    margin-right:auto;
    padding-left:2%;
}

.logo{
    
    width:13%;
    border-radius: 10px;
}
.text{
    font-family:norwester;
    font-size:110%;
    margin-left:5%;
}

#map{
    height:100%;
    z-index:1;
}


 @media screen and (max-width:600px){
    #map{
        position:fixed;
        left:0px;
        top:0px;
        width:100%;
    }
}



@media screen and (min-width:601px){
    #map{
        position:fixed;
        left:10%;
        top:0px;
        width:90%;
    }
}

.searchLoading
{
    height:30%;
}

/*search bar*/

#search{
    position:fixed;
    left:31%;
    top:5%;
    z-index:9999;
    background-color:transparent;
}
input[type="text"]
{
    border-radius: 20px;
    max-width:550px;
    padding:2.2%;
    padding-left:3%;
    padding-right:2%;
    font-size: 105%;
    color:#707070;
    border-width:0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: consolas;

}
.search
{
    background-color: black;
    color:white;
    border-radius: 20px;
    text-align: center;
    padding:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.search:hover,input[type="text"]:hover
{
    cursor: pointer;
}
.search_bar
{
    background-color:transparent;
    align-items: baseline;
    height:90%px;
    min-height:50px;
    width:100%;
    padding:0px;
}
.search_bar > input[type="text"]
{
    width:70%;
    padding:2%;
    margin-right:2%;
}
.search_bar > img.search
{   
    align-content: center;
    vertical-align: middle;
    margin:0px;
}
#search
{
    width:30%;
}

/*search bar end*/
/* loading*/

.loading{
    position:fixed;
    left:45%;
}
@media screen and (min-width:601px)
{
    #cards{
        margin-left:10%;
    }
}

@media screen and (max-width:601px)
{
    #cards{
        margin-left:0%;
    }
}

/* change */


/* change end */
#cards
{
    position:fixed;
    background-color:transparent;
    z-index:9999;
    bottom:10px;
    right:0px;
    overflow-y:hidden;
    overflow-x:scroll;
    white-space: nowrap;
    width:73%;
    height:35%;
}
.results{
    background-color: transparent;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    height:100%;
}

.card
{
    max-width:350px;
    max-height:220px;
    min-height:300px;
    min-height:200px;
    padding:2px;
    border-radius:20px;
    margin-bottom:20px;
    margin-top:20px;
    margin-left:2%;
    margin-right:3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display:inline-block;

}
.card>.address,.card>.pom,.card>.header
{
    width:90%;
    padding:0.5%;
    margin-left:7%;
    white-space: normal;    
}
.card>.pom,.card>.header
{
    height:20%;
    width:90%;
}
.card>.header{
    margin-top:5%;
}
.card>.address{
overflow-x:scroll;
overflow-wrap: normal;  
overflow-y: visible;
width:90%;  
white-space: normal;
}

::-webkit-scrollbar
{
    display:none
}

.cardLat{
    display:none;
}
.cardLng{
    display:none;
}